
.hello{
  position: absolute;
  height: auto;
  left: 100px;
  top: 35px;
  width: 250px;
}
ul {
list-style: none;
text-align: right;
padding-right: 50px;
}
ul li {
display: inline-block;
position: relative;
}
ul li a {
display: block;
padding: 45px 20px;
padding-right: 20px;
color: black;
text-decoration: none;
text-align: center;
font-size: 17px;
font-weight: bold;
}
ul li ul.dropdown li {
display: block;
}
ul li ul.dropdown {
width: 120%;
background: white;
border-style: coral;
border-color: black;
position: absolute;
z-index: 999;
display: none;
}
ul li a:hover {
  color: red;
}
ul li:hover ul.dropdown {
display: block;
}
.img {
    position: absolute;
    height: auto;
    width: 15%;
    padding-left: 35px;
    margin-top: 20px;
}

.property {
    float: right;
}

}

a {
    padding-left: 30px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'playfair Display', serif;
}

.navbar a:hover {
    color: red;
}
.grid{
    width: 100%;
    height: 140px;
    background-color: #F7444E;;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 330%;
    font-weight: bold;
}

.hi{
  width: 90%;
  height:50%;
  padding-left: 70px;
}

.hi2{
display:none;
}

.p{
	margin:10px;
	padding:10px;
	text-align:center;
	font-family:'playfair Display',serif;
	font-size:50px;
}

.heading_container h2 {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: bold;
}

.heading_container h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
}

.heading_container h2 span {
    color: #f7444e;
}
.ooo {
  width: 100%;
  height: 500px;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
}

.class1, .class3 {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  width: 50px;
  font-family: 'playfair Display', serif;
  color: white;
}

.class1 {
  margin: 10px;
  width: 200px;
  font-size: 40px;
  padding-left: 40px;
  text-align: left;
  margin-bottom: 0px;
}

.class1 h3 {
  width: 400px;
  color: white;
}

.class1 h3 a {
  text-decoration: none; /* Remove underline */
  font-size: 26px; /* Adjust the font size */
  color: white;
}

.class1 h3 a:hover {
  color: #f7444e;
}

.class3 {
  width: 200px;
  margin: 10px;
  font-size: 50px;
  color: white;
  padding-right: 400px;
  text-align: left;
}

h6 {
  font-size: 20px;
  width: 400px;
  margin-bottom: 0px;
}

.class3 h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.class3 h5 a {
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Adjust the font size */
  color: white;
}

.class3 h5 a:hover {
  color: greenyellow;
}

#copy {
  width: 500px;
  justify-content: center;
  text-align: left;
  font-size: 20px;
}
